<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
        <title>Add Landlord</title>
</head>
<body>
    <div class="container">
        <h2 id="form-header">Add a New Landlord</h2>
        <form method="post" class="box">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="{{ form.name.id_for_label }}">Tenant Name</label>
                <div class="control">
                    {{ form.name }}
                </div>
            </div>
            
            <div class="field">
                <label class="label" for="{{ form.address.id_for_label }}">Address</label>
                <div class="control">
                    {{ form.address }}
                </div>
            </div>
            <button type="submit" class="button is-primary">Save</button>
        </form>
    </div>
</body>
</html>